*{
  font-family: sans-serif;
  list-style: none;
  padding: 0;
}

body{
  background: #333; 
}

.skills{
  width: 500px;
  margin: 60px auto;
  color: white;
}

.skills li{
  margin: 20px 0;
}

.bar{
  background: #353b48;
  display: block;
  height: 2px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #2187e7b3;
}

.bar span{
  height: 2px;
  float: left;
  background: #2187e7;
}

.rhel{
  width: 80%;
  animation: rhel 2s;
}

.python3{
  width: 70%;
  animation: python3 2s;
}

.docker{
  width: 75%;
  animation: docker 2s;
}

.terraform{
  width: 50%;
  animation: terraform 2s;
}

.jenkins{
  width: 60%;
  animation: jenkins 2s;
}



@keyframes rhel{
  0%{
	width: 0%;
    }
  100%{
	width: 80%;
  }
}

@keyframes python3{
  0%{
	width: 0%;
    }
  100%{
	width: 70%;
  }
}

@keyframes docker{
  0%{
	width: 0%;
    }
  100%{
	width: 75%;
  }
}

@keyframes terraform{
  0%{
	width: 0%;
    }
  100%{
	width: 50%;
  }
}

@keyframes jenkins{
  0%{
	width: 0%;
    }
  100%{
	width: 60%;
  }
}



